#charset "UTF-8";

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
}
p{
text-align: justify;
}
body{
    background-image:linear-gradient(to right,#ABCBD0,#3970C4,#FDF9FF)

}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(107, 106, 132, 0.413);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    text-align: center;
    color: #ABCBD0;
    text-shadow: 1px 1px 2px  #566668;
}
h2{
    color: #3970C4;
}